.title {
  color: #02ccba;
}

.header {
  background-color: #FF7F50;
  heiht: 100px;
}

.main {
  background-color: #000000;
  heiht: 800px;
}

.footer {
  background-color: #FF7F50;
  heiht: 100px;
}
